

<div class="jumbotron">
<h1> About us!</h1>
<p>Our team is hard at work attempting to bring YOU the most ground-breaking innovations in social technology!
 <br> 
 To come alongside us in this epic journey (and to help the process run more smoothly) <br> Feel free to <%= link_to "Donate!", "#", class: "btn btn-primary btn-lg" %> </p>
</div>