

<div class="jumbotron center">
	<h1>
		<meta name="google-site-verification" content="uOZRU6VU-f949_qvxAUJQeTldNQ-z2MN_pt_S3JVrVQ" />
		Welcome to Sunlit Grove!
	</h1>
	<p>
		<%= link_to "Log In!", "#", class: "btn btn-default btn-lg" %>
	 	<%= link_to "Sign Up!", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>